.community {
  font-family: "Inter", sans-serif;
  color: #717171;
  padding: 2rem var(--padding) 0 var(--padding);
  max-width: var(--max-width);
  margin: 0 auto;
}

.upperSubsection {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.upperSubsection > h2 {
  margin: 0;
  font-size: 2rem;
}

.upperSubsection > h2,
.group > h3 {
  color: #4d4d4d;
}

.upperSubsection > p {
  margin-bottom: 0;
}

.lowerSubsection {
  padding-top: 1.75rem;
  display: flex;
  gap: 1.5rem;
}

.group > h3 {
  font-size: 1.5rem;
}

.group > p {
  font-size: 0.875rem;
  margin: 0;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
