.home {
  background-color: #f5f7fa;

  font-family: "Inter", sans-serif;
}

.contentWrapper {
  padding: 4rem var(--padding) 0 var(--padding);
  max-width: var(--max-width);
  margin: 0 auto;
}

.mainContent {
  display: flex;
  justify-content: space-between;
  gap: 4.5rem;
  padding-bottom: 3rem;
}

@media (max-width: 865px) {
  .mainContent {
    flex-direction: column;
    align-items: center;
  }
}

.textContent {
  display: flex;
  flex-direction: column;
}

.textContent > h1 {
  font-size: 3.25rem;
  margin: 0;
}

@media (max-width: 600px) {
  .textContent > h1 {
    font-size: 2.75rem;
  }
}

.greyH1 {
  color: #4d4d4d;
}

.greenH1 {
  color: #4caf4f;
}

.textContent > p {
  color: #717171;
  margin: 0.75rem 0 0 0;
}

@media (max-width: 600px) {
  .textContent > p {
    font-size: 0.875rem;
  }
}

.textContent > button {
  background-color: #4caf4f;
  color: white;
  font-size: 1rem;

  border: none;
  border-radius: 0.3125rem;

  margin-top: 1.5rem;
  padding: 0.625rem 1.375rem;

  cursor: pointer;

  align-self: flex-start;
}

.mainContent > img {
  max-width: 274px;
  max-height: 284px;
}

.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3125rem;

  padding-bottom: 1rem;
}

.dot {
  background-color: #4caf4f;
  opacity: 0.3;
  padding: 0.3125rem;
  border-radius: 50%;

  cursor: pointer;
}

.dot.active {
  opacity: 1;
}
