:root {
  --small-padding: 4.6875rem;
  --padding: 6.25rem;
  --big-padding: 9.375rem;
}

@media (max-width: 1000px) {
  :root {
    --padding: var(--small-padding);
  }
}

@media (min-width: 1000px) {
  :root {
    --padding: 6.25rem;
  }
}

@media (min-width: 1500px) {
  :root {
    --padding: var(--big-padding);
  }
}
