.customers {
  font-family: "Inter", sans-serif;
  background-color: #f5f7fa;
}

.contentWrapper {
  padding: 2rem var(--padding);
  margin: 0 auto;
  max-width: var(--max-width);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.375rem;
}

@media (max-width: 800px) {
  .contentWrapper > img {
    display: none;
  }
}

.contentWrapper > img {
  border-radius: 0.5rem;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}

.content > p {
  color: #717171;
  margin: 0;
}

.customer > h2 {
  color: #4caf4f;
  font-size: 1.25rem;
  margin-bottom: 0.375rem;
}

.customer > p {
  color: #89939e;
  margin: 0;
}

.customersLogosWrapper {
  margin-top: 1.375rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.customersLogosWrapper > div {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: flex-start;
  font-weight: 700;
  color: #4caf4f;
  cursor: pointer;
}

@media (max-width: 450px) {
  .customersLogosWrapper {
    gap: 0.125rem;
  }
  .customersLogosWrapper > div {
    font-weight: 500;
    font-size: 0.75rem;
  }

  .customersLogosWrapper > img {
    width: 1.5rem;
    height: auto;
  }
}
