.achievements {
  background-color: #f5f7fa;

  font-family: "Inter", sans-serif;
}

.contentWrapper {
  padding: 2.5rem var(--padding);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;

  max-width: var(--max-width);
  margin: 0 auto;
}

@media (max-width: 700px) {
  .contentWrapper {
    flex-direction: column;
  }
}

.description > h2 {
  margin: 0;
  color: #4d4d4d;
  font-size: 2rem;
}

.description > p {
  color: #18191f;
}

.greenH2 {
  color: #4caf4f;
}

.numbersContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

@media (max-width: 450px) {
  .numbersContent {
    grid-template-columns: 1fr;
  }
}

.item {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.item > div > h3 {
  margin: 0;
  font-size: 1.625rem;
  color: #4d4d4d;
}

.item > div > p {
  margin: 0;
  color: #717171;
}
